<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('../partials/font') %>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <div class="viewOverlay"></div>
    <div class="loading-spinners"></div>
    <header class="navigation">
        <!-- Sidemenu -->
        <div class="menu-button">
            <div class="menu-wrapper">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
        </div>
        <nav class="side-navbar">
            <%- include('../partials/dash-sidemenu') %>
        </nav>
    </header>
    <main>
        <div class="portfolio-container">
            <div class="portfolio-balance">
                <div class="net-worth-text"></div>
                <div class="net-worth-digit"></div>
            </div>
            <div class="portfolio-profit">
                <div class="profit">
                    <div class="profit-text"></div>
                    <div class="profit-digit"></div>
                </div>
                <div class="change-in-percentage">
                </div>
            </div>
            <div class="portfolio-invested">
                <div class="invested-text"></div>
                <div class="invested-digit"></div>
            </div>
            <div class="portfolio-weekly-chart">

            </div>

            <div class="funds-wrapper">
                <div class="add-fund-wrapper"><button class="dash-add-fund-btn">Add Funds</button></div>
                <div class="withdraw-fund-wrapper"><button class="dash-withdraw-fund-btn">Withdraw Funds</button>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/dashboard.js"></script>
</body>

</html>