<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('../partials/font') %>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <div class="viewOverlay"></div>
    <div class="loading-spinners"></div>
    <header class="navigation">
        <!-- Sidemenu -->
        <div class="menu-button">
            <div class="menu-wrapper">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
        </div>
        <nav class="side-navbar">
            <%- include('../partials/dash-sidemenu') %>
        </nav>
    </header>
    <main>
        <div class="portfolio-container">
            <div class="balance-wrapper">
                <div class="balance-text">Total Balance</div>
                <div class="balance-total">$112.422</div>
                <div class="balance-change">
                    <div class="change-in-dollars">$10.213</div>
                    <div class="change-in-percentage">+11%</div>
                </div>
            </div>
            <div class="wallet-wrapper">
                <button class="dash-deposit-btn">Deposit</button>
                <button class="dash-withdraw-btn">Withdraw</button>
            </div>
            <div class="portfolio-cards">
                <div class="profit-card">
                    <div class="profit-svg"></div>
                    <div class="profit-info">
                        <div class="profit-text">Profit</div>
                        <div class="profit-number">$1233</div>
                    </div>
                </div>
                <div class="invested-card">
                    <div class="invested-svg"></div>
                    <div class="invested-info">
                        <div class="invested-text"></div>
                        <div class="invested-number"></div>
                    </div>
                </div>
                <div class="chart-card">
                </div>
                <div class="companies-card">
                    <div class="company-logo"></div>
                    <div class="company-name"></div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/dashboard.js"></script>
</body>

</html>