<div class="sidemenu">
    <span class="overlay"></span>
    <div class="home sideMenu-button">
        <div class="home-svg-wrapper side-wrapper">
            <%- include('../partials/home-btn') %>
        </div>
    </div>
    <div class="settings sideMenu-button">
        <div class="settings-svg-wrapper side-wrapper">
            <%- include('../partials/settings-btn') %>
        </div>
    </div>
    <div class="signout sideMenu-button">
        <div class="signout-svg-wrapper side-wrapper">
            <%- include('../partials/signout-btn') %>
        </div>
    </div>
</div>