<div class="sidemenu">
    <div class="home">
        <div class="home-svg-wrapper side-wrapper">
            <%- include('../partials/home-btn') %>
        </div>
    </div>
    <div class="settings">
        <div class="settings-svg-wrapper side-wrapper">
            <%- include('../partials/settings-btn') %>
        </div>
    </div>
    <div class="signout">
        <div class="signout-svg-wrapper side-wrapper">
            <%- include('../partials/signout-btn') %>
        </div>
    </div>
</div>