<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <header class="headnav">
        <nav>
            <div class="logo-container">
                <!-- <img class="logo" src="/img/quant-logo.svg" alt="Quant logo"> -->
                <svg class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500"
                    preserveAspectRatio="xMidYMid meet" version="1.0">
                    <path
                        d="M 353.015625 212.535156 L 298.964844 158.464844 L 320.292969 137.128906 L 335.789062 137.128906 C 340.445312 141.496094 360.503906 161.878906 359.824219 188.132812 C 359.609375 196.417969 357.328125 204.5625 353.015625 212.535156 Z M 340.382812 229.632812 L 285.941406 175.171875 L 251.140625 175.171875 L 229.296875 197.027344 L 153.335938 197.027344 L 113.929688 157.609375 L 149.992188 157.609375 C 150.65625 161.78125 154.234375 164.976562 158.59375 164.976562 C 163.417969 164.976562 167.328125 161.0625 167.328125 156.238281 C 167.328125 151.410156 163.417969 147.496094 158.59375 147.496094 C 154.234375 147.496094 150.65625 150.695312 149.992188 154.867188 L 70.753906 154.867188 L 106.046875 119.5625 L 171.046875 119.5625 L 211.308594 159.835938 L 296.457031 159.835938 L 351.609375 215.007812 C 348.660156 219.957031 344.914062 224.835938 340.382812 229.632812 Z M 325.117188 243.273438 L 323.726562 244.347656 L 322.984375 245.925781 C 322.867188 246.171875 311.003906 270.816406 286.828125 280.488281 L 280.195312 283.144531 L 293.726562 317.6875 C 295.714844 322.769531 292.082031 325.582031 290.921875 326.324219 C 288.523438 327.859375 284.878906 328.378906 281.867188 325.230469 C 279.019531 322.261719 276.710938 319.726562 275.007812 317.699219 C 248.722656 286.414062 214.519531 277.75 187.035156 270.789062 C 162.128906 264.480469 142.453125 259.496094 134.242188 241.453125 L 132.277344 237.132812 L 127.53125 237.242188 C 127.066406 237.253906 80.851562 238.125 51.296875 223.445312 C 40.230469 217.953125 31.574219 209.191406 26 198.589844 L 72.554688 198.589844 L 97.03125 223.074219 L 188.796875 223.074219 L 206.59375 240.878906 L 192.40625 255.070312 L 186.722656 255.070312 C 186.0625 250.898438 182.480469 247.699219 178.125 247.699219 C 173.296875 247.699219 169.386719 251.613281 169.386719 256.441406 C 169.386719 261.269531 173.296875 265.183594 178.125 265.183594 C 182.480469 265.183594 186.0625 261.984375 186.722656 257.8125 L 193.542969 257.8125 L 209.097656 242.25 L 229.296875 242.25 L 255.179688 268.140625 L 274.71875 268.140625 C 275.378906 272.308594 278.960938 275.507812 283.320312 275.507812 C 288.144531 275.507812 292.058594 271.59375 292.058594 266.765625 C 292.058594 261.941406 288.144531 258.027344 283.320312 258.027344 C 278.960938 258.027344 275.382812 261.226562 274.71875 265.394531 L 256.308594 265.394531 L 230.433594 239.511719 L 209.097656 239.511719 L 189.929688 220.335938 L 132.773438 220.335938 L 153.335938 199.769531 L 229.296875 199.769531 L 250.371094 220.847656 L 274.71875 220.847656 C 275.382812 225.019531 278.960938 228.214844 283.320312 228.214844 C 288.144531 228.214844 292.058594 224.304688 292.058594 219.476562 C 292.058594 214.648438 288.144531 210.738281 283.320312 210.738281 C 278.960938 210.738281 275.382812 213.933594 274.71875 218.105469 L 251.503906 218.105469 L 231.800781 198.398438 L 252.277344 177.917969 L 284.808594 177.917969 L 338.480469 231.605469 C 334.558594 235.550781 330.101562 239.441406 325.117188 243.273438 Z M 19.804688 158.234375 C 19.839844 158.023438 19.886719 157.816406 19.921875 157.609375 L 110.054688 157.609375 L 150.828125 198.398438 L 128.898438 220.335938 L 98.167969 220.335938 L 73.6875 195.847656 L 24.652344 195.847656 C 19.457031 184.617188 17.585938 171.566406 19.804688 158.234375 Z M 85.910156 101.539062 L 89.128906 101.105469 L 90.941406 98.421875 C 92.585938 95.988281 128.03125 44.785156 184.917969 58.730469 L 147.746094 95.910156 L 125.816406 95.910156 L 104.914062 116.820312 L 104.511719 117.222656 L 66.878906 154.867188 L 20.460938 154.867188 C 26.777344 125.964844 50.976562 106.132812 85.910156 101.539062 Z M 207.835938 67.5 L 210.441406 66.804688 C 211.035156 66.652344 269.867188 51.4375 305.460938 76.8125 C 310.164062 80.167969 314.25 84.136719 317.742188 88.671875 L 289.601562 116.820312 L 249.429688 116.820312 C 248.769531 112.648438 245.183594 109.449219 240.828125 109.449219 C 236.003906 109.449219 232.09375 113.363281 232.09375 118.191406 C 232.09375 123.015625 236.003906 126.929688 240.828125 126.929688 C 245.183594 126.929688 248.769531 123.734375 249.429688 119.5625 L 290.742188 119.5625 L 319.382812 90.910156 C 326.78125 101.503906 331.128906 115 332.320312 131.300781 L 332.539062 134.296875 L 332.644531 134.386719 L 319.15625 134.386719 L 296.457031 157.09375 L 212.441406 157.09375 L 173.550781 118.191406 L 201.476562 90.253906 L 256.902344 90.253906 C 257.5625 94.425781 261.144531 97.625 265.5 97.625 C 270.328125 97.625 274.238281 93.710938 274.238281 88.886719 C 274.238281 84.058594 270.328125 80.144531 265.5 80.144531 C 261.144531 80.144531 257.5625 83.34375 256.902344 87.515625 L 200.34375 87.515625 L 171.046875 116.820312 L 108.789062 116.820312 L 126.949219 98.65625 L 148.878906 98.65625 L 187.984375 59.539062 C 193.597656 61.128906 199.40625 63.335938 205.414062 66.304688 Z M 346.425781 127.382812 C 343.792969 99.601562 332.832031 78.652344 313.8125 65.09375 C 276.976562 38.835938 222.179688 49.316406 209.398438 52.253906 C 168.5625 33.113281 135.445312 44.1875 114.707031 57.027344 C 96.933594 68.035156 85.316406 81.941406 80.941406 87.71875 C 32.585938 95.28125 10.3125 127.65625 5.613281 155.867188 C 0.00390625 189.542969 15.792969 221.878906 44.894531 236.335938 C 72.21875 249.910156 110.246094 251.515625 123.3125 251.644531 C 135.246094 272.519531 158.730469 278.46875 183.503906 284.742188 C 210.3125 291.53125 240.695312 299.226562 263.992188 326.957031 C 265.902344 329.226562 268.417969 331.996094 271.476562 335.1875 C 275.765625 339.671875 281.289062 341.980469 286.925781 341.980469 C 290.914062 341.980469 294.964844 340.820312 298.671875 338.453125 C 307.585938 332.753906 310.980469 322.300781 307.121094 312.441406 L 298.671875 290.863281 C 320.378906 279.546875 332.089844 259.574219 335.1875 253.671875 C 360.472656 233.867188 373.601562 211.949219 374.207031 188.503906 C 375.007812 157.589844 353.605469 134.300781 346.425781 127.382812 "
                        fill-opacity="1" fill-rule="nonzero" />
                </svg>
            </div>
            <div class="links-container">
                <a class="link news" href="">News</a>
                <a class="link about" href="">About</a>
            </div>
            <div class="login">
                <button class="sign-in">Sign In</button>
                <button class="sign-up">Join</button>

            </div>
        </nav>
    </header>
    <div class="modal-container">
        <div class="signinModal">
            <form class="signin-form" action="/signin" method="POST">
                <div class="brand-title2">Sign in to </div>
                <div class="email">
                    <label for="email">Email address</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="password">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <button id="confirmSignin">Sign in</button>
            </form>
            <div class="switchSignup">Don't have an account yet? <button class="signupModal2">Sign up</button>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="hero-banner">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                zoomAndPan="magnify" viewBox="0 0 1440 809.999993" preserveAspectRatio="xMidYMid meet" version="1.0">
                <defs>
                    <linearGradient id="Gradient" x1="0" y1="0" x2="0" y2="1">
                        <stop id="stop1" offset="0" stop-color="#171717" stop-opacity="1">
                            <animate attributeName="offset" values="0; 1" dur="3s" repeatCount="indefinite" />
                        </stop>
                        <stop id="stop2" offset=".5" stop-color="#00b960" stop-opacity="1">
                            <animate attributeName="offset" values="-.5; 1" dur="6s" repeatCount="indefinite" />
                        </stop>
                        <stop id="stop3" offset="1" stop-color="#171717" stop-opacity="1">
                            <animate attributeName="offset" values="0;1" dur="3s" repeatCount="indefinite" />
                        </stop>
                    </linearGradient>
                </defs>

                <path fill="url(#Gradient)"
                    d="M 392.792969 206.570312 C 390.710938 206.570312 388.753906 207.378906 387.285156 208.855469 C 384.25 211.894531 384.25 216.839844 387.285156 219.886719 C 388.746094 221.347656 390.691406 222.15625 392.765625 222.15625 C 393.628906 222.15625 394.476562 222.019531 395.292969 221.746094 L 398.933594 220.519531 L 400.160156 216.878906 C 401.113281 214.035156 400.40625 210.960938 398.3125 208.867188 C 396.832031 207.378906 394.875 206.570312 392.792969 206.570312 M 818.78125 781.152344 L 815.335938 782.855469 C 812.648438 784.191406 810.984375 786.867188 810.984375 789.835938 C 810.984375 794.140625 814.480469 797.636719 818.78125 797.636719 C 823.082031 797.636719 826.578125 794.140625 826.578125 789.835938 C 826.578125 786.867188 824.914062 784.191406 822.226562 782.855469 L 818.78125 781.152344 M 392.792969 194.398438 C 397.902344 194.398438 403.011719 196.347656 406.914062 200.25 C 412.460938 205.800781 414.039062 213.792969 411.695312 220.753906 L 556.570312 365.6875 L 745.75 365.6875 L 827.636719 447.601562 L 827.636719 771.964844 C 834.214844 775.234375 838.75 782 838.75 789.847656 C 838.75 800.878906 829.808594 809.816406 818.789062 809.816406 C 807.765625 809.816406 798.828125 800.867188 798.828125 789.847656 C 798.828125 782 803.363281 775.234375 809.945312 771.964844 L 809.945312 454.933594 L 738.429688 383.398438 L 549.261719 383.398438 L 399.1875 233.273438 C 397.113281 233.976562 394.945312 234.324219 392.773438 234.324219 C 387.675781 234.324219 382.574219 232.386719 378.683594 228.492188 C 370.886719 220.695312 370.886719 208.050781 378.683594 200.25 C 382.566406 196.347656 387.683594 194.398438 392.792969 194.398438 Z M 392.792969 194.398438 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 592.734375 58.042969 C 588.433594 58.042969 584.941406 61.539062 584.941406 65.839844 C 584.941406 68.8125 586.605469 71.488281 589.289062 72.820312 L 592.734375 74.527344 L 596.179688 72.820312 C 598.867188 71.488281 600.53125 68.8125 600.53125 65.839844 C 600.53125 61.546875 597.027344 58.042969 592.734375 58.042969 M 873.730469 656.851562 L 870.285156 658.554688 C 867.597656 659.886719 865.933594 662.566406 865.933594 665.535156 C 865.933594 669.835938 869.429688 673.332031 873.730469 673.332031 C 878.03125 673.332031 881.527344 669.835938 881.527344 665.535156 C 881.527344 662.566406 879.863281 659.886719 877.175781 658.554688 L 873.730469 656.851562 M 592.734375 45.875 C 603.761719 45.875 612.695312 54.820312 612.695312 65.839844 C 612.695312 73.6875 608.160156 80.453125 601.582031 83.726562 L 601.582031 241.304688 L 658.253906 295.972656 L 775.617188 295.972656 L 882.578125 402.964844 L 882.578125 647.648438 C 889.15625 650.910156 893.691406 657.6875 893.691406 665.535156 C 893.691406 676.5625 884.746094 685.5 873.730469 685.5 C 862.714844 685.5 853.769531 676.554688 853.769531 665.535156 C 853.769531 657.6875 858.304688 650.921875 864.882812 647.648438 L 864.882812 410.296875 L 768.289062 313.671875 L 651.109375 313.671875 L 583.878906 248.820312 L 583.878906 83.726562 C 577.300781 80.464844 572.765625 73.6875 572.765625 65.839844 C 572.765625 54.8125 581.710938 45.875 592.734375 45.875 Z M 592.734375 45.875 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 1078.644531 251.390625 C 1076.5625 251.390625 1074.605469 252.199219 1073.136719 253.671875 C 1071.035156 255.773438 1070.324219 258.839844 1071.289062 261.683594 L 1072.515625 265.324219 L 1076.152344 266.550781 C 1076.972656 266.824219 1077.820312 266.960938 1078.683594 266.960938 C 1080.757812 266.960938 1082.703125 266.152344 1084.164062 264.691406 C 1085.632812 263.222656 1086.449219 261.265625 1086.449219 259.179688 C 1086.449219 257.097656 1085.644531 255.140625 1084.164062 253.671875 C 1082.683594 252.199219 1080.726562 251.390625 1078.644531 251.390625 M 930.148438 757.554688 L 926.703125 759.257812 C 924.015625 760.59375 922.351562 763.269531 922.351562 766.238281 C 922.351562 770.542969 925.847656 774.035156 930.148438 774.035156 C 934.449219 774.035156 937.945312 770.542969 937.945312 766.238281 C 937.945312 763.269531 936.28125 760.59375 933.59375 759.257812 L 930.148438 757.554688 M 1078.644531 239.214844 C 1083.753906 239.214844 1088.863281 241.160156 1092.765625 245.0625 C 1100.5625 252.863281 1100.5625 265.507812 1092.765625 273.308594 C 1088.875 277.199219 1083.773438 279.136719 1078.675781 279.136719 C 1076.503906 279.136719 1074.34375 278.789062 1072.261719 278.085938 L 1003.152344 347.21875 L 1003.152344 466.734375 L 938.984375 530.921875 L 938.984375 748.355469 C 945.566406 751.617188 950.101562 758.390625 950.101562 766.238281 C 950.101562 777.269531 941.15625 786.207031 930.140625 786.207031 C 919.113281 786.207031 910.179688 777.257812 910.179688 766.238281 C 910.179688 758.390625 914.714844 751.625 921.292969 748.355469 L 921.292969 523.589844 L 985.457031 459.402344 L 985.457031 339.886719 L 1059.753906 265.566406 C 1057.410156 258.605469 1058.984375 250.613281 1064.535156 245.0625 C 1068.425781 241.167969 1073.535156 239.214844 1078.644531 239.214844 Z M 1078.644531 239.214844 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 469.667969 111.960938 C 467.585938 111.960938 465.632812 112.765625 464.160156 114.246094 C 461.125 117.285156 461.125 122.238281 464.160156 125.277344 C 465.621094 126.738281 467.566406 127.546875 469.640625 127.546875 C 470.507812 127.546875 471.355469 127.410156 472.171875 127.136719 L 475.8125 125.910156 L 477.039062 122.269531 C 477.992188 119.425781 477.28125 116.351562 475.1875 114.257812 C 473.71875 112.765625 471.753906 111.960938 469.667969 111.960938 M 580.863281 302.84375 C 579.996094 302.84375 579.148438 302.980469 578.332031 303.253906 L 574.691406 304.480469 L 573.464844 308.121094 C 572.511719 310.964844 573.222656 314.03125 575.316406 316.132812 C 576.785156 317.605469 578.742188 318.421875 580.824219 318.421875 C 582.90625 318.421875 584.863281 317.613281 586.332031 316.132812 C 587.800781 314.664062 588.621094 312.707031 588.621094 310.625 C 588.621094 308.539062 587.8125 306.582031 586.332031 305.113281 C 584.882812 303.644531 582.933594 302.84375 580.863281 302.84375 M 469.667969 99.78125 C 474.78125 99.78125 479.890625 101.726562 483.792969 105.632812 C 489.339844 111.179688 490.914062 119.171875 488.570312 126.132812 L 524.140625 161.71875 L 524.140625 241.394531 L 574.449219 291.707031 C 576.523438 291.007812 578.691406 290.65625 580.863281 290.65625 C 585.960938 290.65625 591.0625 292.59375 594.945312 296.488281 C 602.742188 304.285156 602.742188 316.933594 594.945312 324.730469 C 591.042969 328.632812 585.933594 330.582031 580.824219 330.582031 C 575.714844 330.582031 570.605469 328.632812 566.703125 324.730469 C 561.15625 319.179688 559.578125 311.1875 561.921875 304.226562 L 506.4375 248.722656 L 506.4375 169.046875 L 476.042969 138.652344 C 473.972656 139.355469 471.800781 139.707031 469.632812 139.707031 C 464.53125 139.707031 459.429688 137.769531 455.546875 133.875 C 447.753906 126.074219 447.753906 113.429688 455.546875 105.632812 C 459.449219 101.726562 464.558594 99.78125 469.667969 99.78125 Z M 469.667969 99.78125 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 336.082031 277.164062 C 331.78125 277.164062 328.289062 280.65625 328.289062 284.960938 C 328.289062 287.929688 329.953125 290.605469 332.636719 291.941406 L 336.082031 293.644531 L 339.527344 291.941406 C 342.214844 290.605469 343.878906 287.929688 343.878906 284.960938 C 343.878906 280.65625 340.375 277.164062 336.082031 277.164062 M 401.640625 422.359375 C 400.773438 422.359375 399.925781 422.496094 399.109375 422.765625 L 395.46875 423.996094 L 394.242188 427.636719 C 393.289062 430.476562 394 433.542969 396.09375 435.648438 C 397.5625 437.117188 399.519531 437.933594 401.601562 437.933594 C 403.683594 437.933594 405.640625 437.128906 407.109375 435.648438 C 410.144531 432.609375 410.144531 427.664062 407.109375 424.617188 C 405.667969 423.15625 403.722656 422.359375 401.640625 422.359375 M 336.082031 264.984375 C 347.109375 264.984375 356.042969 273.929688 356.042969 284.949219 C 356.042969 292.796875 351.507812 299.5625 344.929688 302.835938 L 344.929688 360.917969 L 395.238281 411.230469 C 397.308594 410.53125 399.480469 410.179688 401.648438 410.179688 C 406.75 410.179688 411.847656 412.117188 415.734375 416.011719 C 423.527344 423.808594 423.527344 436.457031 415.734375 444.253906 C 411.839844 448.15625 406.71875 450.105469 401.609375 450.105469 C 396.5 450.105469 391.390625 448.15625 387.488281 444.253906 C 381.941406 438.703125 380.367188 430.710938 382.710938 423.75 L 327.226562 368.25 L 327.226562 302.835938 C 320.648438 299.574219 316.113281 292.796875 316.113281 284.949219 C 316.113281 273.929688 325.054688 264.984375 336.082031 264.984375 Z M 336.082031 264.984375 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 973.292969 97.882812 C 968.992188 97.882812 965.496094 101.375 965.496094 105.679688 C 965.496094 108.648438 967.160156 111.328125 969.847656 112.660156 L 973.292969 114.363281 L 976.738281 112.660156 C 979.425781 111.328125 981.089844 108.648438 981.089844 105.679688 C 981.089844 101.386719 977.585938 97.882812 973.292969 97.882812 M 933.46875 435.519531 L 930.023438 437.226562 C 927.335938 438.558594 925.671875 441.234375 925.671875 444.207031 C 925.671875 448.507812 929.164062 452.003906 933.46875 452.003906 C 937.769531 452.003906 941.261719 448.507812 941.261719 444.207031 C 941.261719 441.234375 939.597656 438.558594 936.914062 437.226562 L 933.46875 435.519531 M 973.292969 85.710938 C 984.320312 85.710938 993.253906 94.660156 993.253906 105.679688 C 993.253906 113.527344 988.71875 120.292969 982.140625 123.5625 L 982.140625 208.894531 L 942.3125 248.734375 L 942.3125 426.320312 C 948.894531 429.582031 953.429688 436.359375 953.429688 444.207031 C 953.429688 455.234375 944.484375 464.171875 933.46875 464.171875 C 922.441406 464.171875 913.507812 455.226562 913.507812 444.207031 C 913.507812 436.359375 918.042969 429.59375 924.621094 426.320312 L 924.621094 241.402344 L 964.445312 201.566406 L 964.445312 123.5625 C 957.867188 120.300781 953.332031 113.527344 953.332031 105.679688 C 953.320312 94.660156 962.265625 85.710938 973.292969 85.710938 Z M 973.292969 85.710938 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 1052.941406 157.636719 C 1048.640625 157.636719 1045.148438 161.132812 1045.148438 165.4375 C 1045.148438 168.40625 1046.8125 171.082031 1049.496094 172.417969 L 1052.941406 174.121094 L 1056.386719 172.417969 C 1059.074219 171.082031 1060.738281 168.40625 1060.738281 165.4375 C 1060.738281 161.144531 1057.234375 157.636719 1052.941406 157.636719 M 1007.289062 243.085938 C 1005.214844 243.085938 1003.269531 243.894531 1001.808594 245.355469 C 998.773438 248.394531 998.773438 253.339844 1001.808594 256.386719 C 1003.277344 257.855469 1005.234375 258.675781 1007.316406 258.675781 C 1009.398438 258.675781 1011.355469 257.867188 1012.824219 256.386719 C 1014.925781 254.285156 1015.636719 251.21875 1014.675781 248.375 L 1013.449219 244.734375 L 1009.808594 243.507812 C 1009 243.222656 1008.152344 243.085938 1007.289062 243.085938 M 1052.941406 145.46875 C 1063.96875 145.46875 1072.902344 154.417969 1072.902344 165.4375 C 1072.902344 173.285156 1068.367188 180.050781 1061.789062 183.320312 L 1061.789062 208.894531 L 1026.21875 244.480469 C 1028.5625 251.441406 1026.984375 259.433594 1021.4375 264.984375 C 1017.535156 268.886719 1012.425781 270.835938 1007.316406 270.835938 C 1002.207031 270.835938 997.097656 268.886719 993.195312 264.984375 C 985.398438 257.183594 985.398438 244.539062 993.195312 236.738281 C 997.089844 232.847656 1002.1875 230.910156 1007.277344 230.910156 C 1009.449219 230.910156 1011.609375 231.257812 1013.691406 231.960938 L 1044.078125 201.566406 L 1044.078125 183.320312 C 1037.496094 180.058594 1032.960938 173.285156 1032.960938 165.4375 C 1032.972656 154.417969 1041.914062 145.46875 1052.941406 145.46875 Z M 1052.941406 145.46875 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 893.640625 58.042969 C 889.339844 58.042969 885.847656 61.539062 885.847656 65.839844 C 885.847656 68.8125 887.511719 71.488281 890.195312 72.820312 L 893.640625 74.527344 L 897.085938 72.820312 C 899.773438 71.488281 901.4375 68.8125 901.4375 65.839844 C 901.4375 61.546875 897.933594 58.042969 893.640625 58.042969 M 694.566406 217.347656 C 690.265625 217.347656 686.769531 220.84375 686.769531 225.144531 C 686.769531 229.449219 690.265625 232.941406 694.566406 232.941406 C 697.535156 232.941406 700.210938 231.277344 701.542969 228.589844 L 703.246094 225.15625 L 701.542969 221.707031 C 700.203125 219.019531 697.535156 217.347656 694.566406 217.347656 M 893.640625 45.875 C 904.667969 45.875 913.605469 54.820312 913.605469 65.839844 C 913.605469 73.6875 909.070312 80.453125 902.488281 83.726562 L 902.488281 129.21875 L 797.738281 234.003906 L 712.433594 234.003906 C 709.164062 240.585938 702.402344 245.121094 694.554688 245.121094 C 683.53125 245.121094 674.59375 236.175781 674.59375 225.15625 C 674.59375 214.125 683.539062 205.1875 694.554688 205.1875 C 702.402344 205.1875 709.164062 209.722656 712.433594 216.304688 L 790.410156 216.304688 L 884.785156 121.898438 L 884.785156 83.726562 C 878.207031 80.464844 873.671875 73.6875 873.671875 65.839844 C 873.671875 54.8125 882.617188 45.875 893.640625 45.875 Z M 893.640625 45.875 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 748.453125 12.355469 C 746.371094 12.355469 744.414062 13.164062 742.945312 14.640625 C 741.476562 16.113281 740.660156 18.070312 740.660156 20.152344 C 740.660156 22.234375 741.464844 24.191406 742.9375 25.664062 C 744.394531 27.125 746.34375 27.929688 748.414062 27.929688 C 749.28125 27.929688 750.128906 27.796875 750.945312 27.523438 L 754.585938 26.296875 L 755.8125 22.65625 C 756.765625 19.8125 756.054688 16.734375 753.964844 14.640625 C 752.492188 13.171875 750.539062 12.355469 748.453125 12.355469 M 674.652344 137.671875 C 670.351562 137.671875 666.859375 141.164062 666.859375 145.46875 C 666.859375 149.773438 670.351562 153.265625 674.652344 153.265625 C 677.621094 153.265625 680.296875 151.601562 681.632812 148.914062 L 683.335938 145.480469 L 681.632812 142.03125 C 680.289062 139.335938 677.621094 137.671875 674.652344 137.671875 M 748.453125 0.183594 C 753.5625 0.183594 758.671875 2.132812 762.578125 6.035156 C 768.125 11.585938 769.699219 19.578125 767.355469 26.539062 L 826.507812 85.710938 L 757.925781 154.320312 L 692.53125 154.320312 C 689.261719 160.898438 682.496094 165.4375 674.652344 165.4375 C 663.625 165.4375 654.691406 156.488281 654.691406 145.46875 C 654.691406 134.4375 663.636719 125.5 674.652344 125.5 C 682.496094 125.5 689.261719 130.039062 692.53125 136.621094 L 750.585938 136.621094 L 801.476562 85.710938 L 754.839844 39.058594 C 752.765625 39.761719 750.59375 40.109375 748.425781 40.109375 C 743.324219 40.109375 738.226562 38.171875 734.332031 34.277344 C 726.539062 26.480469 726.539062 13.835938 734.332031 6.035156 C 738.234375 2.132812 743.34375 0.183594 748.453125 0.183594 Z M 748.453125 0.183594 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 648.890625 12.355469 C 646.808594 12.355469 644.851562 13.164062 643.382812 14.640625 C 640.347656 17.679688 640.347656 22.636719 643.382812 25.671875 C 644.84375 27.132812 646.789062 27.941406 648.863281 27.941406 C 649.730469 27.941406 650.574219 27.804688 651.394531 27.53125 L 655.03125 26.304688 L 656.257812 22.664062 C 657.214844 19.820312 656.503906 16.753906 654.410156 14.652344 C 652.929688 13.171875 650.976562 12.355469 648.890625 12.355469 M 700.335938 63.808594 C 699.472656 63.808594 698.625 63.941406 697.808594 64.214844 L 694.167969 65.441406 L 692.941406 69.082031 C 691.988281 71.925781 692.699219 74.992188 694.789062 77.097656 C 696.257812 78.566406 698.214844 79.382812 700.296875 79.382812 C 702.382812 79.382812 704.335938 78.574219 705.808594 77.097656 C 707.277344 75.625 708.09375 73.667969 708.09375 71.585938 C 708.09375 69.503906 707.285156 67.546875 705.808594 66.074219 C 704.355469 64.613281 702.410156 63.808594 700.335938 63.808594 M 648.890625 0.183594 C 654 0.183594 659.109375 2.132812 663.015625 6.035156 C 668.5625 11.585938 670.136719 19.578125 667.792969 26.539062 L 693.933594 52.6875 C 696.007812 51.988281 698.175781 51.636719 700.347656 51.636719 C 705.445312 51.636719 710.546875 53.574219 714.429688 57.46875 C 722.226562 65.265625 722.226562 77.914062 714.429688 85.710938 C 710.527344 89.617188 705.417969 91.5625 700.308594 91.5625 C 695.199219 91.5625 690.089844 89.617188 686.1875 85.710938 C 680.640625 80.164062 679.0625 72.167969 681.40625 65.207031 L 655.265625 39.058594 C 653.195312 39.761719 651.023438 40.109375 648.851562 40.109375 C 643.753906 40.109375 638.652344 38.171875 634.769531 34.277344 C 626.976562 26.480469 626.976562 13.835938 634.769531 6.035156 C 638.671875 2.132812 643.78125 0.183594 648.890625 0.183594 Z M 648.890625 0.183594 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 879.519531 211.554688 C 877.4375 211.554688 875.480469 212.363281 874.011719 213.832031 C 871.910156 215.933594 871.199219 219 872.164062 221.84375 L 873.390625 225.484375 L 877.03125 226.710938 C 877.847656 226.984375 878.695312 227.121094 879.558594 227.121094 C 881.632812 227.121094 883.578125 226.3125 885.039062 224.851562 C 888.074219 221.816406 888.074219 216.859375 885.039062 213.824219 C 883.558594 212.363281 881.605469 211.554688 879.519531 211.554688 M 879.550781 302.84375 C 878.683594 302.84375 877.835938 302.980469 877.019531 303.253906 L 873.378906 304.480469 L 872.152344 308.121094 C 871.199219 310.964844 871.910156 314.039062 874.003906 316.132812 C 875.472656 317.605469 877.429688 318.421875 879.511719 318.421875 C 881.59375 318.421875 883.550781 317.613281 885.019531 316.132812 C 888.054688 313.097656 888.054688 308.152344 885.019531 305.101562 C 883.570312 303.644531 881.621094 302.84375 879.550781 302.84375 M 879.519531 199.375 C 884.628906 199.375 889.738281 201.320312 893.640625 205.226562 C 901.4375 213.023438 901.4375 225.671875 893.640625 233.46875 C 889.75 237.363281 884.648438 239.300781 879.558594 239.300781 C 877.390625 239.300781 875.230469 238.949219 873.144531 238.25 L 862.664062 248.722656 L 862.664062 281.230469 L 873.136719 291.707031 C 875.210938 291.007812 877.378906 290.65625 879.550781 290.65625 C 884.648438 290.65625 889.75 292.59375 893.632812 296.488281 C 901.429688 304.285156 901.429688 316.933594 893.632812 324.730469 C 889.730469 328.632812 884.628906 330.582031 879.511719 330.582031 C 874.402344 330.582031 869.292969 328.632812 865.390625 324.730469 C 859.84375 319.179688 858.265625 311.1875 860.609375 304.226562 L 844.953125 288.5625 L 844.953125 241.394531 L 860.609375 225.730469 C 858.265625 218.769531 859.84375 210.773438 865.390625 205.226562 C 869.300781 201.332031 874.410156 199.375 879.519531 199.375 Z M 879.519531 199.375 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 409.933594 331.066406 C 407.851562 331.066406 405.894531 331.875 404.421875 333.355469 C 401.386719 336.394531 401.386719 341.347656 404.421875 344.386719 C 405.882812 345.847656 407.832031 346.65625 409.902344 346.65625 C 410.769531 346.65625 411.617188 346.519531 412.433594 346.246094 L 416.074219 345.019531 L 417.300781 341.378906 C 418.253906 338.535156 417.542969 335.457031 415.449219 333.367188 C 413.980469 331.875 412.015625 331.066406 409.933594 331.066406 M 694.460938 436.457031 C 691.492188 436.457031 688.8125 438.121094 687.480469 440.808594 L 685.777344 444.253906 L 687.480469 447.691406 C 688.8125 450.378906 691.492188 452.042969 694.460938 452.042969 C 698.761719 452.042969 702.253906 448.546875 702.253906 444.242188 C 702.253906 439.941406 698.761719 436.457031 694.460938 436.457031 M 409.933594 318.898438 C 415.042969 318.898438 420.152344 320.84375 424.054688 324.75 C 429.601562 330.300781 431.179688 338.292969 428.832031 345.253906 L 518.964844 435.414062 L 676.582031 435.414062 C 679.839844 428.832031 686.613281 424.296875 694.460938 424.296875 C 705.484375 424.296875 714.421875 433.242188 714.421875 444.261719 C 714.421875 455.292969 705.476562 464.230469 694.460938 464.230469 C 686.613281 464.230469 679.851562 459.695312 676.582031 453.113281 L 511.625 453.113281 L 416.316406 357.773438 C 414.242188 358.472656 412.074219 358.824219 409.902344 358.824219 C 404.804688 358.824219 399.703125 356.886719 395.8125 352.992188 C 388.015625 345.195312 388.015625 332.546875 395.8125 324.75 C 399.714844 320.84375 404.824219 318.898438 409.933594 318.898438 Z M 409.933594 318.898438 "
                    fill-opacity="1" fill-rule="nonzero" />
                <path fill="url(#Gradient)"
                    d="M 1078.644531 350.988281 C 1076.5625 350.988281 1074.605469 351.796875 1073.136719 353.265625 C 1071.035156 355.367188 1070.324219 358.433594 1071.289062 361.277344 L 1072.515625 364.917969 L 1076.152344 366.144531 C 1076.972656 366.417969 1077.820312 366.554688 1078.683594 366.554688 C 1080.757812 366.554688 1082.703125 365.746094 1084.164062 364.285156 C 1087.199219 361.25 1087.199219 356.292969 1084.164062 353.253906 C 1082.683594 351.796875 1080.726562 350.988281 1078.644531 350.988281 M 1052.941406 435.519531 L 1049.496094 437.226562 C 1046.8125 438.558594 1045.148438 441.234375 1045.148438 444.207031 C 1045.148438 448.507812 1048.640625 452.003906 1052.941406 452.003906 C 1057.246094 452.003906 1060.738281 448.507812 1060.738281 444.207031 C 1060.738281 441.234375 1059.074219 438.558594 1056.386719 437.226562 L 1052.941406 435.519531 M 1078.644531 338.816406 C 1083.753906 338.816406 1088.863281 340.765625 1092.765625 344.667969 C 1100.5625 352.46875 1100.5625 365.113281 1092.765625 372.910156 C 1088.875 376.804688 1083.773438 378.742188 1078.683594 378.742188 C 1076.515625 378.742188 1074.355469 378.394531 1072.269531 377.691406 L 1061.789062 388.167969 L 1061.789062 426.320312 C 1068.367188 429.582031 1072.902344 436.359375 1072.902344 444.207031 C 1072.902344 455.234375 1063.960938 464.171875 1052.941406 464.171875 C 1041.925781 464.171875 1032.980469 455.226562 1032.980469 444.207031 C 1032.980469 436.359375 1037.515625 429.59375 1044.097656 426.320312 L 1044.097656 380.828125 L 1059.753906 365.160156 C 1057.410156 358.199219 1058.984375 350.207031 1064.535156 344.660156 C 1068.425781 340.765625 1073.535156 338.816406 1078.644531 338.816406 Z M 1078.644531 338.816406 "
                    fill-opacity="1" fill-rule="nonzero" />
            </svg>
        </div>
        <div class="content-wrapper">
            <div class="left-container">
                <div class="brand-wrapper">
                    <h1 class="brand-title">Quant.</h1>
                    <div class="brand-text">Unlock the potential of the stock market with our AI-powered platform that
                        delivers
                        efficient and simple investment insights tailored to your financial goals - making investing as
                        easy
                        as
                        checking your email.
                    </div>
                </div>
                <div class="features-container">
                    <div class="ai-analysis">
                        <div class="ai-container">
                            <div class="ai-svg-wrapper">
                                <svg class="ai-svg" viewBox="0 0 24 24" id="Artwork" xmlns="http://www.w3.org/2000/svg"
                                    fill="#000000">

                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                    <g id="SVGRepo_iconCarrier">

                                        <path d="M11.26,6.86l-3.39-2a.75.75,0,1,1,.78-1.28l3.36,2Z"
                                            style="fill:#00b960;fill-rule:evenodd" />

                                        <path d="M11.52,10.31,4.69,6.36a.75.75,0,0,1,.75-1.3l6.08,3.52Z"
                                            style="fill:#00b960;fill-rule:evenodd" />

                                        <path
                                            d="M19.6,5.33a.76.76,0,0,0-1-.27L12.75,8.4V6.85l3.39-2a.74.74,0,0,0,.25-1,.75.75,0,0,0-1-.25L11.65,5.78a.79.79,0,0,0-.39.68V21a.75.75,0,1,0,1.49,0V10.14l6.57-3.78A.76.76,0,0,0,19.6,5.33Z"
                                            style="fill:#00b960;fill-rule:evenodd" />

                                        <circle cx="12.01" cy="3.09" r="0.84" style="fill:#00b960" />

                                        <path
                                            d="M9.48,10.82a.73.73,0,0,1,.38.64v4.08a.74.74,0,0,1-.38.65.79.79,0,0,1-.37.1.86.86,0,0,1-.38-.1L4.41,13.7a.75.75,0,1,1,.75-1.3l3.2,1.84V11.9l-1.45-.83a.75.75,0,0,1-.27-1,.74.74,0,0,1,1-.27Z"
                                            style="fill:#00b960" />

                                        <circle cx="5.26" cy="9.26" r="0.84" style="fill:#00b960" />

                                        <path
                                            d="M16.34,9.77a.74.74,0,0,1,1,.27.75.75,0,0,1-.27,1l-1.45.83v2.34l3.2-1.84a.75.75,0,1,1,.75,1.3l-4.32,2.49a.86.86,0,0,1-.38.1.79.79,0,0,1-.37-.1.74.74,0,0,1-.38-.65V11.46a.73.73,0,0,1,.38-.64Z"
                                            style="fill:#00b960" />

                                        <circle cx="18.74" cy="9.26" r="0.84" style="fill:#00b960" />

                                    </g>

                                </svg>
                            </div>
                        </div>
                        <div class="ai-text">In-depth stock insights powered by AI.</div>
                    </div>
                    <div class="efficiency">
                        <div class="efficiency-container">
                            <div class="efficiency-wrapper">
                                <svg class="efficiency-svg" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
                                    fill="#000000">

                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="m 8 1.003906 c -2.050781 0 -4.097656 0.78125 -5.65625 2.339844 c -3.117188 3.117188 -3.117188 8.195312 0 11.3125 c 0.390625 0.390625 1.023438 0.390625 1.414062 0 c 0.390626 -0.390625 0.390626 -1.023438 0 -1.414062 c -2.351562 -2.351563 -2.351562 -6.132813 0 -8.484376 c 2.351563 -2.351562 6.132813 -2.351562 8.484376 0 c 1.972656 1.972657 2.289062 4.953126 0.953124 7.246094 c -0.257812 0.445313 -0.574218 0.859375 -0.953124 1.238282 c -0.390626 0.390624 -0.390626 1.023437 0 1.414062 c 0.390624 0.390625 1.023437 0.390625 1.414062 0 c 3.117188 -3.117188 3.117188 -8.195312 0 -11.3125 c -1.558594 -1.558594 -3.605469 -2.339844 -5.65625 -2.339844 z m 5.195312 11 l -0.363281 -1.363281 l -2.832031 -1.636719 c 0 -0.714844 -0.382812 -1.371094 -1 -1.730468 c -0.957031 -0.550782 -2.179688 -0.222657 -2.730469 0.730468 c -0.554687 0.957032 -0.226562 2.183594 0.730469 2.734375 c 0.617188 0.355469 1.378906 0.351563 1.996094 -0.003906 l 2.835937 1.636719 z m 0 0"
                                            fill="#00b960" />
                                        <path
                                            d="m 12 9 c -0.003906 1.058594 -0.429688 2.074219 -1.179688 2.820312 l 2.128907 2.128907 c 1.3125 -1.3125 2.050781 -3.09375 2.050781 -4.949219 z m 0 0"
                                            fill="#00b960" fill-opacity="0.34902" />
                                    </g>

                                </svg>
                            </div>
                        </div>
                        <div class="efficiency-text">Streamlined process for rapid, high-quality investment insights.
                        </div>
                    </div>
                    <div class="automated-investing">
                        <div class="investing-container">
                            <div class="investing-wrapper">
                                <svg class="investing-svg" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">

                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                    <g id="SVGRepo_iconCarrier">
                                        <path opacity="0.4"
                                            d="M17 7.75C16.81 7.75 16.62 7.68 16.47 7.53C16.18 7.24 16.18 6.76 16.47 6.47L18.52 4.42C16.76 2.92 14.49 2 12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 9.51 21.08 7.24 19.58 5.48L17.53 7.53C17.38 7.68 17.19 7.75 17 7.75Z"
                                            fill="#00b960" />
                                        <path
                                            d="M13.75 11.82L12.75 11.47V9.25H12.83C13.34 9.25 13.75 9.7 13.75 10.25C13.75 10.66 14.09 11 14.5 11C14.91 11 15.25 10.66 15.25 10.25C15.25 8.87 14.17 7.75 12.83 7.75H12.75V7.5C12.75 7.09 12.41 6.75 12 6.75C11.59 6.75 11.25 7.09 11.25 7.5V7.75H10.95C9.74001 7.75 8.75 8.77 8.75 10.03C8.75 11.49 9.6 11.96 10.25 12.19L11.25 12.54V14.76H11.17C10.66 14.76 10.25 14.31 10.25 13.76C10.25 13.35 9.91 13.01 9.5 13.01C9.09 13.01 8.75 13.35 8.75 13.76C8.75 15.14 9.83001 16.26 11.17 16.26H11.25V16.51C11.25 16.92 11.59 17.26 12 17.26C12.41 17.26 12.75 16.92 12.75 16.51V16.26H13.05C14.26 16.26 15.25 15.24 15.25 13.98C15.25 12.51 14.4 12.04 13.75 11.82ZM10.74 10.76C10.4 10.64 10.25 10.57 10.25 10.02C10.25 9.59 10.57 9.24 10.95 9.24H11.25V10.93L10.74 10.76ZM13.05 14.75H12.75V13.06L13.26 13.24C13.6 13.36 13.75 13.43 13.75 13.98C13.75 14.4 13.43 14.75 13.05 14.75Z"
                                            fill="#00b960" />
                                        <path
                                            d="M22.6902 1.71024C22.6102 1.53024 22.4702 1.38024 22.2802 1.30024C22.1902 1.26024 22.0902 1.24023 21.9902 1.24023H17.9902C17.5802 1.24023 17.2402 1.58023 17.2402 1.99023C17.2402 2.40023 17.5802 2.74023 17.9902 2.74023H20.1802L18.5103 4.41024C18.8903 4.74024 19.2403 5.09024 19.5703 5.47024L21.2402 3.80024V6.00024C21.2402 6.41024 21.5802 6.75024 21.9902 6.75024C22.4002 6.75024 22.7402 6.41024 22.7402 6.00024V2.00024C22.7502 1.90024 22.7302 1.81024 22.6902 1.71024Z"
                                            fill="#00b960" />
                                    </g>

                                </svg>
                            </div>
                        </div>
                        <div class="investing-text">Option for automated investing and portfolio management.</div>
                    </div>
                    <div class="simplicity">
                        <div class="simplicity-container">
                            <div class="simplicity-wrapper">
                                <svg fill="#00b960" class="simplicity-svg" viewBox="0 0 14 14" role="img"
                                    focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">

                                    <g id="SVGRepo_bgCarrier" stroke-width="0" />

                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

                                    <g id="SVGRepo_iconCarrier">

                                        <path
                                            d="m 8.666766,10.442068 c -0.72412,-0.033 -2.32929,-0.2387 -3.85785,-0.4953003 -0.21892,-0.037 -0.45185,-0.072 -0.51763,-0.079 -0.19648,-0.02 -0.31662,0.01 -0.46822,0.1034 -0.0373,0.024 -0.0711,0.043 -0.0751,0.043 -0.004,0 -0.004,-0.013 2.8e-4,-0.03 0.01,-0.038 0.0411,-0.3872 0.11149,-1.2316 0.0654,-0.7846 0.17423,-2.0453 0.18536,-2.1468 0.0123,-0.1123 -0.0233,-0.1036 0.8123,-0.1985 0.74532,-0.085 0.90022,-0.086 1.45156,-0.018 0.30944,0.039 0.76595,0.139 1.50663,0.3314 1.09115,0.2835 1.69183,0.4629 1.80068,0.5378 0.15767,0.1085 0.24804,0.3277 0.2172,0.527 -0.0637,0.4115 -0.56984,0.6738 -1.20187,0.6229 -0.28578,-0.023 -0.58009,-0.1001 -1.36713,-0.3583 -0.25597,-0.084 -0.52051,-0.1696 -0.58787,-0.1901 -0.14649,-0.045 -0.33723,-0.091 -0.34471,-0.083 -0.0111,0.011 0.0731,0.07 0.26379,0.1844 0.64023,0.3845 1.1165,0.5824 1.63019,0.6775 0.16517,0.031 0.62685,0.031 0.76187,0 0.23566,-0.053 0.56806,-0.2196 0.74491,-0.3742 0.10758,-0.094 0.17361,-0.1376 0.23616,-0.1556 0.0349,-0.01 0.19854,-0.041 0.36357,-0.068 0.61866,-0.1024 0.90011,-0.1814 1.38392,-0.3882 0.34637,-0.1481 0.44465,-0.1774 0.61848,-0.1841 0.12806,-0.01 0.15704,0 0.22519,0.021 0.106,0.036 0.18971,0.092 0.27421,0.1834 0.12287,0.1329 0.1767,0.2779 0.16407,0.4418 -0.0154,0.2002 -0.0982,0.3584 -0.28549,0.5457 -0.26776,0.2677 -0.76032,0.5668 -1.71291,1.0401 -0.66109,0.3285003 -1.13807,0.5363003 -1.57185,0.6849003 l -0.20016,0.069 -0.17338,0 c -0.0953,-10e-4 -0.26982,-0.01 -0.3877,-0.011 z m -7.66671,-2.1115003 0,-2.0024 1.4023,0 c 1.25428,0 1.4023,0 1.4023,0.019 0,0.01 -0.006,0.07 -0.0124,0.1316 -0.0164,0.1499 -0.19223,2.2077 -0.26444,3.095 -0.0405,0.4978003 -0.062,0.7093003 -0.0735,0.7216003 -0.0256,0.028 -0.35614,0.036 -1.45928,0.037 l -0.99507995,9e-4 0,-2.0024003 z m 9.2679,-0.6189 c -0.0589,-0.047 -0.10703,-0.089 -0.10703,-0.093 0,0 0.0357,-0.067 0.0794,-0.1402 0.23016,-0.3878 0.33107,-0.6859 0.35636,-1.0527 0.0174,-0.2532 -0.0544,-0.62 -0.17484,-0.8922 -0.0223,-0.05 -0.15264,-0.2638 -0.25069,-0.4103 -0.004,-0.01 -0.059,0.036 -0.12125,0.094 -0.13457,0.1267 -0.24034,0.1843 -0.38541,0.2102 -0.50626,0.09 -1.08204,-0.1802 -1.7085,-0.8023 -0.14321,-0.1423 -0.4329,-0.4618 -0.5247,-0.5788 -0.0155,-0.02 -0.003,-0.028 0.15921,-0.1057 0.27573,-0.1318 0.67244,-0.2766 0.90971,-0.3321 0.26815,-0.063 0.66853,-0.082 0.89674,-0.043 0.45621,0.078 0.77561,0.3583 0.86918,0.7618 0.0105,0.045 0.0234,0.1652 0.0288,0.2666 0.0115,0.218 0.0106,0.2157 0.18133,0.4593 0.0637,0.091 0.13194,0.197 0.15155,0.2358 0.0196,0.039 0.042,0.07 0.0498,0.07 0.008,0 0.0835,-0.071 0.16822,-0.1568 0.20034,-0.2038 0.30907,-0.2745 0.54748,-0.3561 0.25462,-0.087 0.53953,-0.1352 0.8595,-0.1448 l 0.23642,-0.01 -0.006,0.029 c -0.003,0.016 -0.0154,0.076 -0.0265,0.1334 -0.0861,0.4451 -0.35554,1.0489 -0.58114,1.3024 -0.0682,0.077 -0.19287,0.1706 -0.28679,0.2163 -0.20274,0.099 -0.38844,0.098 -0.58724,0 -0.0809,-0.041 -0.0926,-0.036 -0.0932,0.039 -5.3e-4,0.071 -0.0471,0.3513 -0.0802,0.4821 -0.0366,0.1446 -0.0807,0.2759 -0.12929,0.3841 -0.0662,0.1476 -0.29116,0.5178 -0.31464,0.5178 -0.005,0 -0.0571,-0.039 -0.11597,-0.086 z m 0.82917,-1.6648 c 0.0214,-0.013 0.0771,-0.072 0.12383,-0.1316 0.17257,-0.2187 0.39547,-0.4293 0.60207,-0.5687 0.13231,-0.089 0.19946,-0.1536 0.19946,-0.1912 0,-0.043 -0.0792,-0.1168 -0.11459,-0.1061 -0.0396,0.012 -0.21156,0.1285 -0.36594,0.2478 -0.29668,0.2294 -0.58423,0.5637 -0.58485,0.6799 -1.4e-4,0.025 0.0632,0.094 0.0863,0.094 0.008,0 0.0323,-0.011 0.0537,-0.024 z m -1.28373,-1.3447 c 0.0211,-0.014 0.0657,-0.092 0.0658,-0.1156 9e-5,-0.031 -0.0656,-0.076 -0.20915,-0.1429 -0.32707,-0.1534 -0.73154,-0.2582 -1.14254,-0.296 -0.21866,-0.02 -0.26734,-0.01 -0.26734,0.078 0,0.092 0.007,0.095 0.327,0.136 0.3836,0.049 0.67444,0.1301 1.03488,0.2877 0.14218,0.062 0.16633,0.069 0.19135,0.052 z" />

                                    </g>

                                </svg>
                            </div>
                        </div>
                        <div class="simplicity-text">User-friendly tools making investing as easy as checking emails.
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="waitlist">

                </div>
            </div>
        </div>

        <div class="pricing-container">
            <div class="pricing-info">
                <div class="pricing-title">Pricing & Plans</div>
                <div class="pricing-text">Instant Access. Cancel Anytime</div>
            </div>
            <div class="billing-selector">
                <div class="billing-text monthly">Monthly</div>
                <div class="billing-text yearly">Yearly</div>
                <span class="highlighter"></span>
            </div>
            <div class="pricing-table">
                <div class="pricing-card starter"></div>
                <div class="pricing-card premium"></div>
                <div class="pricing-card professional"></div>
            </div>

        </div>
    </main>
    <footer class="theFoot">
        <div class="footer-wrapper">
            <div class="brand-name">Quant.</div>
            <div class="info-container"></div>
        </div>
    </footer>


    <script src="/js/landing.js"></script>
</body>

</html>