:root {
    --primary-color: #00b960;
    --secondary-color: #00b96067;
    --tertiary-color: #04293a91;
    --bg-color: #000f1d;
    /* --error-color: ; */
    /* --sucess-color:; */
    /* --warning-color:; */
}