* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: #FFFFFF;
}

@media screen and (max-width: 280px) {

    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        position: relative;
    }

    .logo {
        position: absolute;
        margin: 20px 0 0 20px;
        font-weight: 600;
        text-decoration: none;
        color: var(--primary-color);
    }

    .main-content {
        width: 100%;
    }

    .form-container {
        height: 100svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #signup {
        height: max-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border-radius: 10px;
    }

    .brand-name {
        font-size: 20px;
        margin: 60px 0 20px 0;
        background-color: transparent;
    }

    .brand-name::after {
        content: "Aquity.";
        position: relative;
        font-weight: 600;
        color: var(--primary-color);
    }

    .email-container,
    .password-container {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .email-container {
        margin-top: 20px;
    }

    .password-container {
        margin-top: 20px;
    }

    .eye {
        position: absolute;
        width: 30px;
        height: 20px;
        z-index: 10;
        background-color: transparent;
        right: 0;
        top: 10px;
        fill: var(--primary-color);
    }

    .eye-line {
        stroke: var(--accent-color);
        stroke-width: 10px;
        stroke-linecap: square;
    }

    .eye-line-hidden {
        display: none;
    }

    .email-container::before {
        content: "";
        position: absolute;
        background: url('/img/email.svg');
        background-size: 25px;
        height: 25px;
        width: 25px;
        z-index: 10;
        top: 7px;
        left: 5px;
    }

    .password-container::before {
        content: "";
        position: absolute;
        background: url('/img/password.svg');
        background-size: 25px;
        height: 25px;
        width: 25px;
        z-index: 10;
        top: 7px;
        left: 5px;
    }


    .email,
    .password {
        position: relative;
        background-color: var(--tertiary-color);
        height: 40px;
        border-radius: 8px;
        color: #FFFFFF;
        border: 1px solid var(--tertiary-color);
        outline: none;
        padding: 0 10px 0 35px;
        font-size: 14px;
        transition: border .2s ease;
    }

    .input-error {
        border: 1px solid var(--error-color);
    }

    .input-success {
        border: 1px solid var(--success-color);
    }

    .input-warning {
        border: 1px solid var(--warning-color);
    }

    .password {
        padding: 0 40px 0 35px;
    }


    input:autofill,
    input:autofill:hover,
    input:autofill:focus,
    input:autofill:active {
        background-clip: text;
        color: #FFFFFF;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px var(--tertiary-color);
    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #FFFFFF;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px var(--tertiary-color);
    }

    .email::placeholder,
    .password::placeholder {
        font-size: 14px;
    }

    .forgot-password {
        align-self: flex-end;
        margin-top: 10px;
        text-decoration: none;
        color: var(--accent-color);
        font-size: 12px;
    }

    .password-guideline {
        overflow: hidden;
        width: 100%;
    }

    .pwg-list {
        max-height: 0;
        opacity: 0;
        background-color: transparent;
        font-size: 12px;
        transition: all 300ms;
        margin: 10px 0 0 5px
    }

    .pwg-list-active {
        max-height: 200px;
        opacity: 1;
    }

    .listItem {
        color: #FFFFFF;
        transition: color 300ms;
        list-style: none;
    }

    .listItem::before {
        content: "\2713";
        margin-right: 5px;
    }

    .listItem-fail {
        color: var(--error-color);
    }

    .listItem-pass {
        color: var(--success-color);
    }

    .listItem-two,
    .listItem-three {
        margin: 5px 0;
    }



    .confirm-signup {
        width: 100%;
        border: none;
        height: 40px;
        color: #FFFFFF;
        background-color: var(--primary-color);
        margin-top: 20px;
        border-radius: 10px;
        font-size: 16px;
    }

    .external-oauth-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        background-color: transparent;
        width: 90%;
    }

    .oauth-alternative {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        height: 20px;
    }

    .oauth-line-decor {
        color: var(--accent-color);
        font-size: 12px;
        position: absolute;
        width: 120px;
        text-align: center;
        background-color: var(--bg-color);
        z-index: 10;
    }

    .underlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 100%;
        height: 1px;
        background: -moz-linear-gradient(left, #00000000 0%, #00b96081 25%, #00b960 50%, #00b96081 75%, #00000000 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00000000), color-stop(25%, #00b96020), color-stop(75%, #00b96081), color-stop(100%, #00b960));
        background: -webkit-linear-gradient(left, #00000000 0%, #00b96020 25%, #00b96081 75%, #00b960 100%);
        background: -o-linear-gradient(left, #00000000 0%, #00b96020 25%, #00b96081 75%, #00b960 100%);
        background: -ms-linear-gradient(left, #00000000 0%, #00b96020 25%, #00b96081 75%, #00b960 100%);
        background: linear-gradient(to right, #00000000 0%, #00b96081 25%, #00b960 50%, #00b96081 75%, #00000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
    }


    .external-oauth-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    .google,
    .apple,
    .linkedin {
        width: 33%;
        max-width: 80px;
        height: 50px;
        background-color: var(--tertiary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 300ms ease-in-out;
    }

    .google:hover,
    .apple:hover,
    .linkedin:hover {
        transform: scale(0.9);
    }

    .google-logo {
        background-color: transparent;
        height: 25px;
        width: 25px;
    }

    .apple-logo {
        background-color: transparent;
        height: 30px;
        width: 30px;
    }

    .linkedin-logo {
        background-color: transparent;
        height: 25px;
        width: 25px;
    }

    .signup-container {
        margin-top: 40px;
        color: var(--accent-color);
    }

    .redirect-signup {
        color: var(--primary-color);
        font-weight: 600;
        text-decoration: none;
    }

    .copyright {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        color: var(--accent-color);
        font-size: 12px;
    }
}

@media screen and (min-width:281px) {
    body {
        overflow-x: hidden;
    }

    header {
        width: 100%;
        position: relative;
    }

    .logo {
        position: absolute;
        margin: 20px 0 0 20px;
        font-weight: 600;
        text-decoration: none;
        top: 0;
        left: 0;
        color: var(--primary-color);
    }


    .main-content {
        height: 100svh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 360px;
        margin-top: 40px;
    }

    #signup {
        height: max-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border-radius: 10px;
    }

    .brand-name {
        font-size: 20px;
        margin: 60px 0 20px 0;
        background-color: transparent;
    }

    .brand-name::after {
        content: "Aquity.";
        position: relative;
        font-weight: 600;
        color: var(--primary-color);
    }

    .email-container,
    .password-container {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .email-container {
        margin-top: 20px;
    }

    .password-container {
        margin-top: 20px;
    }

    .eye {
        position: absolute;
        width: 30px;
        height: 20px;
        z-index: 10;
        background-color: transparent;
        right: 0;
        top: 10px;
        fill: var(--primary-color);
        cursor: pointer;
    }

    .eye-line {
        stroke: var(--accent-color);
        stroke-width: 10px;
        stroke-linecap: square;
    }

    .eye-line-hidden {
        display: none;
    }

    .email-container::before {
        content: "";
        position: absolute;
        background: url('/img/email.svg');
        background-size: 25px;
        height: 25px;
        width: 25px;
        z-index: 10;
        top: 7px;
        left: 5px;
    }

    .password-container::before {
        content: "";
        position: absolute;
        background: url('/img/password.svg');
        background-size: 25px;
        height: 25px;
        width: 25px;
        z-index: 10;
        top: 7px;
        left: 5px;
    }


    .email,
    .password {
        position: relative;
        background-color: var(--tertiary-color);
        height: 40px;
        border-radius: 8px;
        color: #FFFFFF;
        border: 1px solid var(--tertiary-color);
        outline: none;
        padding: 0 10px 0 35px;
        font-size: 14px;
        transition: border .2s ease;
    }

    .input-error {
        border: 1px solid var(--error-color);
    }

    .input-success {
        border: 1px solid var(--success-color);
    }

    .input-warning {
        border: 1px solid var(--warning-color);
    }

    .password {
        padding: 0 40px 0 35px;
    }


    input:autofill,
    input:autofill:hover,
    input:autofill:focus,
    input:autofill:active {
        background-clip: text;
        color: #FFFFFF;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px var(--tertiary-color);
    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #FFFFFF;
        transition: background-color 5000s ease-in-out 0s;
        box-shadow: inset 0 0 20px 20px var(--tertiary-color);
    }

    .email::placeholder,
    .password::placeholder {
        font-size: 14px;
    }

    .forgot-password {
        align-self: flex-end;
        margin-top: 10px;
        text-decoration: none;
        color: var(--accent-color);
        font-size: 12px;
        background-color: transparent;
    }

    .password-guideline {
        overflow: hidden;
        width: 100%;
    }

    .pwg-list {
        max-height: 0;
        opacity: 0;
        background-color: transparent;
        font-size: 12px;
        transition: all 300ms;
        margin: 10px 0 0 5px
    }

    .pwg-list-active {
        max-height: 200px;
        opacity: 1;
    }

    .listItem {
        color: #FFFFFF;
        transition: color 300ms;
        list-style: none;
    }

    .listItem::before {
        content: "\2713";
        margin-right: 5px;
    }

    .listItem-fail {
        color: var(--error-color);
    }

    .listItem-pass {
        color: var(--success-color);
    }

    .listItem-two,
    .listItem-three {
        margin: 5px 0;
    }

    .confirm-signup {
        width: 100%;
        border: none;
        height: 40px;
        color: #FFFFFF;
        background-color: var(--primary-color);
        margin-top: 20px;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transform: scale(1);
        transition: all .3s;
    }

    .confirm-signup:hover {
        background-color: var(--hover-color);
        transform: scale(0.96);
    }

    .external-oauth-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        background-color: transparent;
        width: 90%;
        position: relative;
    }

    .oauth-alternative {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        height: 20px;
        background-color: transparent;
    }

    .oauth-line-decor {
        color: var(--accent-color);
        font-size: 12px;
        position: absolute;
        width: 120px;
        text-align: center;
        background-color: var(--bg-color);
        z-index: 10;
    }

    .underlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 100%;
        height: 1px;
        background: -moz-linear-gradient(left, #00000000 0%, #00b96081 25%, #00b960 50%, #00b96081 75%, #00000000 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00000000), color-stop(25%, #00b96020), color-stop(75%, #00b96081), color-stop(100%, #00b960));
        background: -webkit-linear-gradient(left, #00000000 0%, #00b96020 25%, #00b96081 75%, #00b960 100%);
        background: -o-linear-gradient(left, #00000000 0%, #00b96020 25%, #00b96081 75%, #00b960 100%);
        background: -ms-linear-gradient(left, #00000000 0%, #00b96020 25%, #00b96081 75%, #00b960 100%);
        background: linear-gradient(to right, #00000000 0%, #00b96081 25%, #00b960 50%, #00b96081 75%, #00000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
    }

    .external-oauth-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        background-color: transparent;
    }

    .google,
    .apple,
    .linkedin {
        width: 33%;
        height: 50px;
        background-color: var(--tertiary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 300ms ease-in-out;
    }

    .apple {
        margin: 0 5px;
    }

    .google:hover,
    .apple:hover,
    .linkedin:hover {
        transform: scale(0.9);
    }

    .google-logo {
        background-color: transparent;
        height: 25px;
        width: 25px;
    }

    .apple-logo {
        background-color: transparent;
        height: 30px;
        width: 30px;
    }

    .linkedin-logo {
        background-color: transparent;
        height: 25px;
        width: 25px;
    }

    .signup-container {
        margin-top: 40px;
        color: var(--accent-color);
        background-color: transparent;
    }

    .redirect-signup {
        color: var(--primary-color);
        font-weight: 600;
        text-decoration: none;
        background-color: transparent;
    }

    .copyright {
        position: absolute;
        bottom: 0;
        margin-bottom: 25px;
        width: 100%;
        text-align: center;
        color: var(--accent-color);
        font-size: 12px;
    }

}

@media screen and (min-width:480px) {

    .form-container {
        height: max-content;
        background-color: var(--tertiary-color);
        border-radius: 10px;
        margin-top: 70px;
    }

    .brand-name {
        margin: 40px 0;
    }

    .email-container {
        margin: 0;
    }

    .password-guideline {
        background-color: transparent;
    }

    .listItem {
        background-color: transparent;
    }

    .oauth-line-decor {
        background-color: var(--bg-color);
    }

    .correct-color-overlay {
        background-color: var(--tertiary-color);
    }

    .signup-container {
        margin: 40px 0;
        background-color: transparent;
    }

}



@media screen and (min-width: 992px) {

    .logo {
        font-size: 20px;
    }


    .main-content {
        align-items: center;
    }

    .form-container {
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1920px) {}

@media screen and (min-width: 2561px) {
    .logo {
        margin: 40px 0 0 40px;
        font-size: 50px;
    }

    .form-container {
        max-width: 720px;
    }

    #signup {
        border-radius: 20px;
    }

    .brand-name {
        font-size: 40px;
        margin: 60px 0 40px 0;
    }

    .email-container,
    .password-container {
        margin-top: 40px;
    }

    .eye {
        height: 60px;
        width: 40px;
        right: 10px;
    }

    .email,
    .password {
        height: 80px;
        font-size: 30px;
    }

    .email {
        padding: 0 10px 0 60px;
    }

    .password {
        padding: 0 60px 0 60px;
    }

    .email-container::before,
    .password-container::before {
        height: 50px;
        width: 50px;
        background-size: 50px;
        background-repeat: no-repeat;
        top: 15px;
    }

    .email::placeholder,
    .password::placeholder {
        font-size: 30px;
    }

    .forgot-password {
        font-size: 24px;
        margin: 20px 0 40px;
    }

    .confirm-signup {
        height: 70px;
        font-size: 30px;
    }

    .external-oauth-container {
        margin-top: 60px;
    }

    .oauth-line-decor {
        width: 220px;
    }

    .correct-color-overlay {
        font-size: 24px;
    }

    .underlay {
        height: 4px;
    }

    .external-oauth-wrapper {
        justify-content: center;
        margin-top: 80px;
    }

    .google,
    .apple,
    .linkedin {
        height: 100px;
        width: 25%;
        border-radius: 20px;
    }

    .apple {
        margin: 0 30px;
    }

    .google-logo,
    .linkedin-logo {
        width: 50px;
        height: 50px;
    }

    .apple-logo {
        width: 60px;
        height: 60px;
    }

    .signup-container {
        font-size: 40px;
        margin: 80px 0;
    }
}